body {
  background-color: #fdf1d3;
}

#navigacija {
  color: blue;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
}

#navigacija ul {
  list-style: none;
}

#navigacija li {
  display: inline;
  margin: 0 10px;
}

#navigacija a {
  text-decoration: none;

}

#navigacija a:hover {
  color: #ff9900;
}
