body {
    background-color: #fdf1d3;
}

#profil-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#detalji {
    margin-top: 30px;
}

label {
    display: inline-block;
    width: 200px;
    margin-bottom: 10px; 
}

input {
    padding: 10px;
    margin-bottom: 30px;
    border: none;
}

#profil-info img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
}

@media screen and (min-width: 500px) {
    #profil-info {
        flex-direction: row; 
        justify-content: center; 
    }

    #profil-info img {
        max-width: 50%; 
        max-height: 50%;
        width: auto; 
        height: auto;
        margin-right: 20px; 
    }

}
