body {
    background-color: #fdf1d3;
}

.content {
    margin-top: 60px; 
    padding: 20px;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff9900;
}
